config BOARD_HEADER_FILE
	string "HTC board specific header file name"
	default ""

config MACH_OPERAUL
	depends on ARCH_MSM8930
	select MACH_HTC
	bool "HTC First"
	help
	  Support for the HTC First device.
