config BOARD_HEADER_FILE
	string "HTC board specific header file name"
	default ""

config MACH_RUBY
	depends on ARCH_MSM8X60
	select MACH_HTC
	select REMOVE_SMI_2X_CLK
	bool "HTC Ruby"
	help
	  Support for the HTC RUBY device.
